.dropdown-menu {
  width: 330px;
  max-height: 360px;
  overflow-y: auto;
li{
  height: 50px;
}
.heart-title{
  color: #53565C;
  &:hover{
    color: #DCDDDF;
  }
}
}
.heart-length{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6363;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  div{
    line-height: 20px;
  }
}