.bi-heart,
.bi-cart,
.bi-trash,
.bi-pencil,
.bi-eye-fill{
  &:hover{
    color: $primary !important;
    &::before{
      animation: flip 1s forwards;
    }
  }
}

.bi-heart-fill{
  color: $danger !important;
}

.bi-patch-check {
  &:hover {
    color: $danger;
  }
}