@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Moonrocks&display=swap');
.font-RubikMoonrocks{
  font-family: 'Rubik Moonrocks', cursive;
}
.font-Lobster{
  font-family: 'Lobster', cursive;

}
nav{
  background-color: $white;
}
.pointer {
  cursor: pointer;
}

.zoom-in{
  cursor: zoom-in;
}

.z-index {
  z-index: 2000;
}

.box-shadow {
  box-shadow: 10px 10px 10px $secondary;
}

.box-shadow-top {
  box-shadow: 0px 2px 15px 9px $secondary;
}

.transition-03sec {
  transition: all .3s;
}

.w-10{
  width: 10%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60{
  width: 60%;
}

.w-80{
  width: 80%;
}

.w-85{
  width: 85%;
}

.h-0{
  height: 0;
}

.h-20{
  height: 20%;
}

.h-70{
  height: 70%;
}

.h-80{
  height: 80%;
}

img {
  object-fit: cover;
}

input,textarea {
  outline: none;
}

.icon-btn{
  background-color: transparent;
  font-size: 32px;
  border: none;
  color: $primary;
}

// i{
//   &:hover{
//     &::before{
//       color: $danger;
//     }
//   }
// }
.opacity{
  opacity: 0.3;
}

.opacity1{
  opacity: 1 !important;
}


