@mixin background ($size) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin bg-top ($height,$color1,$color2,$color3,$opacity) {
  height: $height;
  background-color: rgb($color1,$color2,$color3, $opacity) !important;
}
.reference-bg{
  background-image: url(https://images.unsplash.com/photo-1595113316349-9fa4eb24f884?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80);
  @include background(245%);
  .container{
    height: calc(100vh - 57.44px);
  }
  &-top{
    @include bg-top(100%,220,221,223,0.1)
  }
  @media (min-width:768px){
    @include background(210%);
    .container{
      height: calc(100vh - 112.45px);
    }
  }
  @media (min-width:992px) {
    @include background(100%);
    .container{
      height: calc(100vh - 121px);
    }
  }
}
.referenceTitle{
  padding-top: 4rem;
  @media (min-width:992px) {
    padding-top: 0;
    position: absolute;
    top: 25%;
    left: 8%;
  }
}
.referenceSource-bg{
  display: none;
  background-image: url(https://images.unsplash.com/photo-1556251573-e7f63ff1c273?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1625&q=80);
  @include background(100%);
  width: 100%;
  height: 60%;
  @media (min-width:768px){
    display: block;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &-top{
      @include bg-top(50%,0,0,0,0.1);
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media (min-width:992px) {
    display: block;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &-top{
      @include bg-top(100%,0,0,0,0.1);
    }
  }
}
.referenceContent{
  position: absolute;
  top: 32%;
  border-width: 0px !important;
  @media (min-width:768px){
    border-width: 3px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    &-bg-top{
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: -20px;
        top: 20px;
        z-index: -1;
        @include bg-top(100%,255,255,255,0.7);
        transform: rotate(20deg);
      }
    }
  }
  @media (min-width:992px) {
    border-width: 3px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    &-bg-top{
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: -20px;
        top: 20px;
        z-index: -1;
        @include bg-top(100%,255,255,255,0.7);
        transform: rotate(20deg);
      }
    }
  }
}