.aboutMe{
  background-image: url(https://images.unsplash.com/photo-1512311734173-51a49c854e78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1712&q=80);
  background-size: 280%;
  background-position: 50% bottom;
  background-repeat: no-repeat;
  height: calc(100vh - 57.44px);
  @media (min-width:768px){
    background-size: 225%;
    height: calc(100vh - 111.28px);
  }
  @media (min-width:992px) {
    background-size: 100%;
    height: calc(100vh - 121px);
  }
  position: relative;
  .img-bg-top{
    background-color: rgb(220, 221, 223, 0.2) !important;
  }
  .about-content{
    position: absolute;
    top: 73%;
    @media (min-width:768px){
      top: 80%;
    }
    @media (min-width:992px) {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}